<% provide(:page_title, 'Pictures') %>
<% @header_title = "Pics on Pics" %>


<%= "TEST1" %>
<%= link_to "HERE'S A PICTURE1", picture %>

<% @pictures.each do |picture| %>
	<%= link_to "HERE'S A PICTURE2", picture %>
	<%= link_to picture, class: "pic-wrapper" do %>
			<!-- <%= image_tag picture.uri %> -->
			<!-- <div> -->
				<!-- Day <%= picture.day.gsub('10','010')[1..-1] %> - <%= picture.location %> -->
			<!-- </div> -->
			<%= "TEST2" %>
	<% end %> 
<% end %>

<%= "TEST3" %>

<%= will_paginate @pictures, :inner_window => 7 %>
