<!DOCTYPE html>
<html>
	<head>
	  <title> #YOSO | <%= yield(:page_title) %> </title>
	  <!-- <%= favicon_link_tag 'tk3.ico' %> -->
	  <%= stylesheet_link_tag    "application", media: "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id="content-wrapper">
			
			<div id="page-wrapper"></div>

			<%= render 'layouts/header' %>

			<div id="page-content">
				<%= yield %>
			</div>

			<%= render 'layouts/footer' %>

		</div>
	</body>
</html>
